.App {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  flex-direction: column;
}

.todoBoxes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70vh;
  align-items: center;
  overflow-x: scroll;
}

.todoBoxes::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.todoBoxes {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
